{
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "printWidth": 80,
  "disableLanguages": ["yaml"],
  "semi": false,
  "trailingComma": "none",
  "bracketSpacing": true,
  "vueIndentScriptAndStyle": true
}
